- report = report_filter

.update
  .reports_count
    %span.num
      = report.upvotes
      = "(-#{report.downvotes})" if report.downvotes > 0
    %br
    = report.upvotes == 1 ? 'report' : 'reports'
    .handled
      %a{ :href => "./form.html" }
        Mark as handled...
  %a.username{ :href => "#" }
    =h "@#{report.user}"
  %span.content
    =h report.content
  .timestamp
    = report.created_at
