.update
  .actions
    - form_tag(vote_report_path(report), :method => :put) do
      = image_submit_tag('btn_report_crisis.gif')
    .notacrisis
      = link_to 'Not a crisis', '#'

  %img{:src => report.user_profile_image_url, :style => "overflow:auto;" }
  = link_to "@#{report.user}", "http://twitter.com/#{report.user}", :class => 'username'
  = format_status_message report.content
  .timestamp
    = report.created_at
