.update
  .actions
    - form_tag(vote_report_path(report), :method => :put) do
      = image_submit_tag('btn_report_crisis.gif')
    .notacrisis
      = link_to 'Not a crisis', '#'

  = link_to "@#{report.user}", '#', :class => 'username'
  = h(report.content)
  .timestamp
    = report.created_at
