%h2 The Filter
- form_for @search do |f|
  %div
    = f.datetime_select(:created_at_gte)
  %div
    = f.datetime_select(:created_at_lt)
  = submit_tag 'Update'

- if !@reports.empty?
  .reports
    %table
      %tr
        %th User
        %th Message
        %th Votes
      = render :partial => "report_filter", :collection => @reports
  = will_paginate(@reports)
- else
  %p There are no reports from this time range.
