- @title = 'View Crises'

- content_for :javascript do
  %link{ :href => "/fancybox/jquery.fancybox-1.2.6.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" }
  %script{ :type => "text/javascript", :src => "/fancybox/jquery.fancybox-1.2.6.pack.js" }
  = stylesheet_link_tag "filter", :media => "screen"
  %script{ :type => "text/javascript" }
    jQuery.noConflict();

- content_for :header_text do
  %strong
    Reported crises.
  %br
  Please alert volunteers or enter into
  = succeed '.' do
    %a{ :href => "http://haiti.ushahidi.com", :target => "_blank" }<
      haiti.ushahidi.com

#filter
  - form_for @search do |f|
    Tweets from
    = f.label 'timeframe'
    = select_timeframe(f)
    with at least
    = f.text_field :upvotes_gte
    vote(s).
    = image_submit_tag 'btn_filter_results.gif', :alt => 'Filter Results'
#sorting
  Sort by
  = order @search, :by => :created_at, :as => 'date'
  |
  = order @search, :by => :upvotes, :as => 'votes'
= render :partial => 'report_filter', :collection => @reports
