- @title = 'Locate Crises'

- content_for :header_text do
  Help get
  %strong
    vital situations
  reported to the
  <strong>right people</strong>.

#filter
  - form_for @search do |f|
    = f.text_field :content_like, :size => 50
    = image_submit_tag 'btn_filter_results.gif', :alt => 'Filter Results'    
#sorting
  Sort by
  = order @search, :by => :created_at, :as => 'date'
  |
  = order @search, :by => :upvotes, :as => 'votes'

= render :partial => 'report', :collection => @reports

= will_paginate @reports

- content_for :sidebar do
  - unless logged_in?
    = render :partial => "layouts/user_form" 
  - else
    = render :partial => "layouts/user_info"